textarea {
    min-height: 400px;
}
.read {
  background-color: gray;
  color: black;
  margin: 1px;
  padding: 5px;
  border-style: solid;
}
.unread {
  background-color: white;
  color: black;
  margin: 1px;
  padding: 5px;
  border-style: solid;
}
.push {
  margin: 1px;
}
.email-timestamp {
  float: right;
}
