{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if listings %}
        <table>
          <tr>
            <th> Title </th>
            <th> Description </th>
            <th> Starting Price </th>
          </tr>
        {% for listing in listings %}
            {% if listing.is_open %}
                <tr>
                  <td> <a href="./listing/{{listing.id}}">{{ listing.title }}</a> </td>
                  <td> {{listing.description}} </td>
                  <td> ${{listing.current_price}}.00 </td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}

{% endblock %}
