{% extends "network/layout.html" %}
{% load static %}


{% block body %}
    <script src="{% static 'network/network.js' %}"></script> 
    {% if title == "all" %}
        {% if user.is_authenticated %}
            <h2>Create Post</h2>
            {% if message %}
                {{message}}
            {% endif %}
            <form action="{% url 'createpost' %}" method="post">
                {% csrf_token %}
                <strong>New Post</strong>
                <br>
                <textarea name="post_content" value=""></textarea>
                <br>
                <input type="submit" value="Post">
            </form>
        {% endif %}
    {% elif title == "following" %}
        <h2>Friends' Posts</h2>
    {% else %}
        <h2>{{profile_user.username}}'s Profile</h2>
        {% if user.username != profile_user.username %}
            {% csrf_token %}
            {% if profile_user in following %}
                <button class="follow-button" data-usertofollow="{{profile_user.username}}">Unfollow User</button>
            {% else %}
                <button class="follow-button" data-usertofollow="{{profile_user.username}}">Follow User</button>
            {% endif %}
        {% endif %}
        Following: {{profile_user.following.count}} Followers: <span class="num-followers" data-puser="{{profile_user.username}}">{{profile_user.followers.count}}</span> <br>
        <h4>{{profile_user.username}}'s Posts</h4>
    {% endif %}
    {% for post in page.object_list %}
        <a href="{% url 'posts' post.poster.username %}"> {{post.poster}} </a> <br>
        <div class="post-content" data-post="{{post.id}}">{{post.post_content}}</div> 
        {{post.time_stamp}} <br>
        {{post.likes.count}} <br>
        {% if request.user == post.poster %}
            {% csrf_token %}
            <textarea class="edit-area" data-post="{{post.id}}"></textarea>
            <button class="edit-button" data-post="{{post.id}}">Edit</button>
            <br>
        {% else %}
            <div class="likesies" data-post="{{post.id}}">
                {% csrf_token %}
                {% if post in user.user_likes %}
                    <button class="like-button" data-post="{{post.id}}">Unlike</button>
                {% else %}
                    <button class="like-button" data-post="{{post.id}}">Like</button>
                {% endif %}
            </div>
        {% endif %}
        <br>
    {% endfor %}
    <ul class="pagination">
        {% if page.has_previous %} 
            <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page.has_next %} 
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li
        {% endif %}
    </ul>
    
{% endblock %}